<div class="header-container">
  <div class="header-container__top">
    <div class="header-container__top-welcome">
      <p>{{ 'WELCOME_MESSAGE' | translate:{storeName: storeName()} }}</p>
    </div>

    <div class="header-container__top-links">
      <div class="top-links">
        @for (linkSocial of linksSocial(); track linkSocial) {
          <a [routerLink]="linkSocial.href">
            <img [src]="linkSocial.icon" width="18" height="18" alt="">
          </a>
        }
      </div>

      <div class="top-lang">
        <select (change)="changeLanguage($event)" [value]="currentLang()">
          @for (lang of languages(); track lang.code) {
            <option [value]="lang.code" [selected]="lang.code === currentLang()">{{ lang.name }}</option>
          }
        </select>
      </div>
    </div>
  </div>

  <div class="header-container__line"></div>

  <div class="header-container__bottom">
    <div class="header-container__header-bottom-logo">
      <h1>{{ storeName() }}</h1>
    </div>

    <div class="header-container__header-bottom-btns">
      @for (link of links(); track link) {
        <a [routerLink]="link.href">
          <img [src]="link.icon" width="26" height="26" alt="">
        </a>
      }
    </div>
  </div>
</div>
