:root {
  --color-white: #FFFFFF;
  --color-light-100: #F2F4F5;
  --color-light-200: #E4E7E9;
  --color-light-300: #C9CFD2;
  --color-light-400: #ADB7BC;
  --color-gray-500: #929FA5;
  --color-gray-600: #77878F;
  --color-gray-700: #5F6C72;
  --color-gray-800: #475156;
  --color-gray-900: #303639;
  --color-black: #191C1F;

  --color-warm-50: #FFF3EB;
  --color-warm-100: #FFE7D6;
  --color-warm-200: #FFCEAD;
  --color-warm-300: #FFB685;
  --color-warm-400: #FF9D5C;
  --color-warm-500: #FA8232;
  --color-warm-600: #DE732D;
  --color-warm-700: #99501F;
  --color-warm-800: #663514;
  --color-warm-900: #331B0A;

  --color-cool-50: #D5EDFD;
  --color-cool-100: #ABDBFA;
  --color-cool-200: #81C9F8;
  --color-cool-300: #57B7F5;
  --color-cool-400: #2DA5F3;
  --color-cool-500: #2484C2;
  --color-cool-600: #1B6392;
  --color-cool-700: #124261;
  --color-cool-800: #092131;

  --color-success-50: #EAF7E9;
  --color-success-100: #D5F0D3;
  --color-success-400: #81D17C;
  --color-success-500: #57C150;
  --color-success-600: #2DB224;
  --color-success-700: #248E1D;
  --color-success-800: #1B6B16;
  --color-success-900: #12470E;

  --color-warning-50: #FDFAE7;
  --color-warning-100: #FBF4CE;
  --color-warning-200: #F7E99E;
  --color-warning-300: #F3DE6D;
  --color-warning-400: #EFD33D;
  --color-warning-500: #EBC80C;
  --color-warning-600: #BCA00A;
  --color-warning-700: #8D7807;
  --color-warning-800: #5E5005;

  --color-error-50: #FDEEEE;
  --color-error-100: #FCDEDE;
  --color-error-200: #F8BCBC;
  --color-error-300: #F59B9B;
  --color-error-400: #F17979;
  --color-error-500: #EE5858;
  --color-error-600: #BE4646;
  --color-error-700: #8F3535;
  --color-error-800: #5F2323;
  --color-error-900: #301212;
}
