<div class="footer">
    <div class="footer__first-block">
        <div class="footer__about-us">
            <h2>{{ storeName() }}</h2>
            <p class="footer__number"> Customer Supports: <span class="footer__contacts">{{ storePhone() }}</span></p>
            <p> {{storeAddress() }} </p>
            <p class="footer__contacts"> {{ storeEmail() }}</p>
        </div>
        <div class="footer__category">
            <h3 class="footer__titles">Top Category</h3>
            <ul>
                <li>Computer & Laptop</li>
                <li>SmartPhone</li>
                <li>Headphone</li>
                <li>Accessories</li>
                <li>Camera & Photo</li>
                <li>TV & Homes</li>
                <li>Browse All Product</li>
            </ul>
        </div>
        <div class="footer__links">
            <h3 class="footer__titles">Quick links</h3>
            <ul>
                <li>Shop Product</li>
                <li>Shoping Cart</li>
                <li>Wishlist</li>
                <li>Compare</li>
                <li>Track Order</li>
                <li>Customer Help</li>
                <li>About Us</li>
            </ul>
        </div>
        <div class="footer__tags">
            <h3 class="footer__titles">Popular Tag</h3>
            <ul class="footer__tags-list">
                <li>Game</li>
                <li>iPhone</li>
                <li>TV</li>
                <li>Asus Laptop</li>
                <li>Macbook</li>
                <li>SSD</li>
                <li>Graphics Card</li>
                <li>Power Bank</li>
                <li>Smart TV</li>
                <li>Speaker</li>
                <li>Tablet</li>
                <li>Microwave</li>
                <li>Samsung</li>
            </ul>
        </div>
    </div>
    <div class="footer__second-block">
        <p>
            Kinbo - eCommerce Template &copy; 2021. Design by Templatecookie
        </p>
    </div>
</div>