<div class="footer">
    <div class="footer__first-block">
        <div class="footer__about-us">
            <h2>{{ storeName() }}</h2>
            <p class="footer__number">{{ 'CUSTOMER_SUPPORTS' | translate }}: <span class="footer__contacts">{{ storePhone() }}</span></p>
            <p> {{'storeAddress' | translate }} </p>
            <p class="footer__contacts"> {{ storeEmail() }}</p>
        </div>
        <div class="footer__category">
            <h3 class="footer__titles">{{ 'TOP_CATEGORY' | translate }}</h3>
            <ul>
                <li>{{ 'CATEGORIES.COMPUTER_LAPTOP' | translate }}</li>
                <li>{{ 'CATEGORIES.SMARTPHONE' | translate }}</li>
                <li>{{ 'CATEGORIES.HEADPHONE' | translate }}</li>
                <li>{{ 'CATEGORIES.ACCESSORIES' | translate }}</li>
                <li>{{ 'CATEGORIES.CAMERA_PHOTO' | translate }}</li>
                <li>{{ 'CATEGORIES.TV_HOMES' | translate }}</li>
                <li>{{ 'CATEGORIES.BROWSE_ALL_PRODUCT' | translate }}</li>
            </ul>
        </div>
        <div class="footer__links">
            <h3 class="footer__titles">{{ 'QUICK_LINKS' | translate }}</h3>
            <ul>
                <li>{{ 'CATEGORIES2.SHOP_PRODUCT' | translate }}</li>
                <li>{{ 'CATEGORIES2.SHOPPING_CART' | translate }}</li>
                <li>{{ 'CATEGORIES2.WISHLIST' | translate }}</li>
                <li>{{ 'CATEGORIES2.COMPARE' | translate }}</li>
                <li>{{ 'CATEGORIES2.TRACK_ORDER' | translate }}</li>
                <li>{{ 'CATEGORIES2.CUSTOMER_HELP' | translate }}</li>
                <li>{{ 'CATEGORIES2.ABOUT_US' | translate }}</li>
            </ul>
        </div>
        <div class="footer__tags">
            <h3 class="footer__titles">{{ 'POPULAR_TAG' | translate }}</h3>
            <ul class="footer__tags-list">
                <li>{{ 'CATEGORIES3.GAME' | translate }}</li>
                <li>{{ 'CATEGORIES3.IPHONE' | translate }}</li>
                <li>{{ 'CATEGORIES3.TV' | translate }}</li>
                <li>{{ 'CATEGORIES3.ASUS_LAPTOP' | translate }}</li>
                <li>{{ 'CATEGORIES3.MACBOOK' | translate }}</li>
                <li>{{ 'CATEGORIES3.SSD' | translate }}</li>
                <li>{{ 'CATEGORIES3.GRAPHICS_CARD' | translate }}</li>
                <li>{{ 'CATEGORIES3.POWER_BANK' | translate }}</li>
                <li>{{ 'CATEGORIES3.SMART_TV' | translate }}</li>
                <li>{{ 'CATEGORIES3.SPEAKER' | translate }}</li>
                <li>{{ 'CATEGORIES3.TABLET' | translate }}</li>
                <li>{{ 'CATEGORIES3.MICROWAVE' | translate }}</li>
                <li>{{ 'CATEGORIES3.SAMSUNG' | translate }}</li>
            </ul>
        </div>
    </div>
    <div class="footer__second-block">
        <p>
            {{ 'KINBO' | translate }}
        </p>
    </div>
</div>